In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.cluster import KMeans

In [2]:
train=pd.read_csv("C:\\Users\\vipul\\Desktop\\teaching assistant data set\\TeachingAssistantDataset.csv",header=0)

In [3]:
train.describe

<bound method NDFrame.describe of      native_English_speaker  Course_instructor  Course  \
0                         1                 23       3
1                         2                 15       3
2                         1                 23       3
3                         1                  5       2
4                         2                  7      11
5                         2                 23       3
6                         2                  9       5
7                         2                 10       3
8                         1                 22       3
9                         2                 15       3
10                        2                 10      22
11                        2                 13       1
12                        2                 18      21
13                        2                  6      17
14                        2                  6      17
15                        2                  6      17
16                        2                  7      11
17                        2                 22       3
18                        2                 13       3
19                        2                  7      25
20                        2                 25       7
21                        2                 25       7
22                        2                  2       9
23                        2                  1      15
24                        2                 15      13
25                        2                  7      11
26                        2                  8       3
27                        2                 14      15
28                        2                 21       2
29                        2                 22       3
..                      ...                ...     ...
121                       2                 13      14
122                       2                  9       6
123                       1                 10       3
124                       2                 14      15
125                       1                 13       1
126                       1                  8       3
127                       2                 20       2
128                       2                 22       1
129                       2                 18      12
130                       2                 20      15
131                       1                 17      18
132                       2                 14      23
133                       2                 24      26
134                       2                  9      24
135                       2                 12       8
136                       2                  9       6
137                       2                 22       1
138                       2                  7      11
139                       2                 10       3
140                       2                 23       3
141                       2                 17      18
142                       2                 16      20
143                       2                  3       2
144                       2                 19       4
145                       2                 23       3
146                       2                  3       2
147                       2                 10       3
148                       1                 18       7
149                       2                 22       1
150                       2                  2      10

     Summer_or_regular_semester  Class_size  Class_attribute
0                             1          19                3
1                             1          17                3
2                             2          49                3
3                             2          33                3
4                             2          55                3
5                             1          20                3
6                             2          19                3
7                             2          27                3
8                             1          58                3
9                             1          20                3
10                            2           9                3
11                            2          30                3
12                            2          29                3
13                            2          39                3
14                            2          42                2
15                            2          43                2
16                            2          10                2
17                            2          46                2
18                            1          10                2
19                            2          42                2
20                            2          27                2
21                            2          23                2
22                            2          31                2
23                            1          22                2
24                            2          37                2
25                            2          13                2
26                            2          24                2
27                            2          38                2
28                            2          42                1
29                            2          28                1
..                          ...         ...              ...
121                           2          17                3
122                           2           7                3
123                           2          21                3
124                           2          36                3
125                           2          54                3
126                           2          29                3
127                           2          45                3
128                           2          11                2
129                           2          16                2
130                           2          18                2
131                           2          44                2
132                           2          17                2
133                           2          21                2
134                           2          20                2
135                           2          24                2
136                           2           5                2
137                           2          42                2
138                           2          30                1
139                           2          19                1
140                           2          11                1
141                           2          29                1
142                           2          15                1
143                           2          37                1
144                           2          10                1
145                           2          24                1
146                           2          26                1
147                           2          12                1
148                           2          48                1
149                           2          51                1
150                           2          27                1

[151 rows x 6 columns]>

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
native_English_speaker        151 non-null int64
Course_instructor             151 non-null int64
Course                        151 non-null int64
Summer_or_regular_semester    151 non-null int64
Class_size                    151 non-null int64
Class_attribute               151 non-null int64
dtypes: int64(6)
memory usage: 7.2 KB

In [12]:
X=train[['native_English_speaker','Course_instructor','Course','Summer_or_regular_semester','Class_size']]
y=train['Class_attribute']

In [13]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.25)

In [18]:
estimators = [('k_means_3', KMeans(n_clusters=3))]

In [36]:
clf=KMeans(n_clusters=3,random_state=0).fit(xtrain)

In [37]:
clf.labels_

array([1, 1, 1, 1, 2, 0, 1, 1, 2, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 2, 2, 2, 0,
       1, 2, 1, 1, 1, 0, 1, 0, 2, 0, 1, 1, 1, 1, 0, 1, 2, 1, 1, 0, 2, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 2, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 2, 0, 1, 0, 0, 1, 2, 1, 1, 1, 0, 1, 1, 1, 0, 2, 1, 1, 1,
       2, 0, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 0, 1, 0, 1, 1, 2, 2, 0, 1])

In [42]:
pred=clf.predict(xtest)

In [43]:
pred

array([1, 0, 0, 1, 0, 1, 0, 2, 1, 0, 1, 1, 0, 2, 2, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 2, 2, 2, 1, 0, 1])

In [44]:
acc=accuracy_score(pred,ytest)

In [45]:
acc

0.10526315789473684